env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.DS_Store
.mypy_cache/
.vscode/
tensorboard_mesh2voxel/
snapshots_mesh2voxel/
configs_mesh2voxel/
.ipynb_checkpoints/
mmwhs/
mmwhs_test/
tensorboard_voxel2meshimplicit/
snapshots_voxel2meshimplicit/
configs_voxel2meshimplicit/
*.png
*.pdf
*.pyc
*.pyd
*.ply
out/
test_out/
test_out*/
